# Python virtual environment
emotion_env/

# Trained model files (too large for GitHub)
*.keras
*.h5
*.pb

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset (never push this)
dataset/

# Spring Boot
backend/target/

# IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

gitignore
# React web app
emotify-web/node_modules/
emotify-web/build/

# Face API models (downloaded at runtime)
emotify-web/public/models/

# Python
__pycache__/
*.pyc
temp.jpg

# DeepFace cache (downloads models here)
C:\Users\User\.deepface/